name: Release Please
permissions: {}

on:
  workflow_call:
    inputs:
      publish:
        required: false
        type: boolean
        default: false

      build:
        required: false
        type: string
        default: ''

      config-file:
        required: false
        type: string
        default: .github/release-please-config.json

      manifest-file:
        required: false
        type: string
        default: .github/.release-please-manifest.json

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: ${{ inputs.config-file }}
          manifest-file: ${{ inputs.manifest-file }}

  publish-npm:
    runs-on: ubuntu-latest
    needs: release-please
    permissions:
      id-token: write # Required for OIDC
    if: needs.release-please.outputs.release_created && inputs.publish
    steps:
      - name: Setup repo
        uses: nicksp/workflows/.github/actions/setup-repo@23eefb58a60b2fcc49f326bc2d7e263dd4346750
      - name: Build
        run: ${{ inputs.build }}
        if: inputs.build != ''
      - name: Publish to NPM
        run: npm publish --access public
