name: Release
permissions: {}

on:
  workflow_call:
    inputs:
      github-release:
        required: false
        type: boolean
        default: true

      publish:
        required: false
        type: boolean
        default: false

      build:
        required: false
        type: string
        default: ''

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write # Required for OIDC

    steps:
      - name: Setup repo
        uses: nicksp/workflows/.github/actions/setup-repo@e86dfa301021b71f1081559397e1dafc7570a72c
        with:
          fetch-all: true
      - name: Generate GitHub changelog
        run: nlx changelogithub
        continue-on-error: true
        if: inputs.github-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        run: ${{ inputs.build }}
        if: inputs.build != '' && inputs.publish
      - name: Publish to NPM
        run: npm publish --access public
        if: inputs.publish
