name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    uses: nicksp/workflows/.github/workflows/release-changelogithub.yml@main
    with:
      publish: false
    permissions:
      contents: write
      id-token: write
