name: Test
permissions: {}

on:
  workflow_call:
    inputs:
      node-versions:
        required: false
        type: string
        default: '[20,22,24,25]'

      typecheck:
        required: false
        type: string
        default: nr typecheck

      lint:
        required: false
        type: string
        default: nr lint

      build:
        required: false
        type: string
        default: nr build

      test:
        required: false
        type: string
        default: nr test

      skip-lint:
        required: false
        type: boolean
        default: false

      skip-test:
        required: false
        type: boolean
        default: false

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    if: ${{ !inputs.skip-lint }}
    steps:
      - name: Setup repo
        uses: nicksp/workflows/.github/actions/setup-repo@1b476d99b9e9077fa4e2e7521b13fa07536fef43
      - name: Build
        run: ${{ inputs.build }}
        if: inputs.build != ''
      - name: Lint
        run: ${{ inputs.lint }}
        if: inputs.lint != ''
      - name: Typecheck
        run: ${{ inputs.typecheck }}
        if: inputs.typecheck != ''

  test:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    if: ${{ !inputs.skip-test }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node: ${{ fromJson(inputs.node-versions) }}
      fail-fast: false

    steps:
      - name: Setup repo
        uses: nicksp/workflows/.github/actions/setup-repo@1b476d99b9e9077fa4e2e7521b13fa07536fef43
        with:
          node-version: ${{ matrix.node }}
      - name: Build
        run: ${{ inputs.build }}
        if: inputs.build != ''
      - name: Test
        run: ${{ inputs.test }}
